.bgimage {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/leatherbackground.jpg);
    background-position: center;
    background-size: cover;
} 

/* Content Styling */

section a {
    color: #888;
}

h2 {
    color: #ccc;
}

p {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 14pt;
    text-shadow: 1px 1px #000;
    color: #ccc;
}

.rowspacing {
    margin-top: 30vh;
}

.colorimg {
    max-width: 80%;
    max-height: 60%;
}

/* NavBar CSS */

.navbg {
    background-image: url(../img/rolls.jpg);
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: transparent;
}

/* Footer CSS */

.smlogo {
    height: 20px;
    width: 20px;
    margin: 0px 10px;
}
